{% extends "layout.html" %}
{% load static %}
{% block css %}
<style>
    body {
        background: #333;
        margin: 2rem;
    }

    #video-compare-container {
        display: inline-block;
        line-height: 0;
        position: relative;
        width: 100%;
        padding-top: 42.3%;
    }

    #video-compare-container > video {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
    }

    #video-clipper {
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        border: 1px solid white;
        border-style: none solid none none;
    }

    #video-clipper video {
        width: 200%;
        postion: absolute;
        height: 100%;
    }
</style>
{% endblock %}
{% block content %}
<!-- <video loop autoplay>
    <source src="{{ video_url }}">
    <source src="http://127.0.0.1:8000/media/Explosion001_x264.mp4">
</video> -->
<div id="video-compare-container">
        <video autoplay="autoplay" controls>
            <!-- <source src="http://127.0.0.1:8000/media/{{video_url}}" type="video/mp4"> -->
            <source src="http://127.0.0.1:8000/media/Explosion001_x264_result.mp4" type="video/mp4">
            <!-- <source src="http://127.0.0.1:8000/media/boxer_result.mp4" type="video/webm"> -->
        </video>
    </div>
{% endblock %}
{% block js %}
<!-- <script>
    function trackLocation(e) {
        var rect = videoContainer.getBoundingClientRect(),
            position = ((e.pageX - rect.left) / videoContainer.offsetWidth) * 100;
        if (position <= 100) {
            videoClipper.style.width = position + "%";
            clippedVideo.style.width = ((100 / position) * 100) + "%";
            clippedVideo.style.zIndex = 3;
        }
    }

    var videoContainer = document.getElementById("video-compare-container")
    videoContainer.addEventListener("mousemove", trackLocation, false);
    videoContainer.addEventListener("touchstart", trackLocation, false);
    videoContainer.addEventListener("touchmove", trackLocation, false);
</script> -->
{% endblock %}