:root {
	--seeker-bg: #474545;
	--seeker-pointer: #9AC6C5;
	--seeker-value: #7785AC;
}

html {
	box-sizing: border-box;
	font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
	height: 100%;
}

body {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

body::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}


.whole-body {
	width: 100%;
	background-color: #1e1717be;
}

.header {
	margin-left: 20%;
	padding-top: 2.5vw;
	margin-bottom: 2.5vw;
}

.container {
	margin-left: 20%;
}

#upload {
	background-color: #7785AC;
	color: #FFEEF2;
	font-size: 2em;
	font-weight: bold;
	padding: 1vh 1vw;
	border-radius: 0.7vw;
	width: 8vw;
	overflow: hidden;
}

#upload:hover {
	transition: all 0.3 ease;
	background-color: #01a552;
}

.h1 {
	color: rgba(255, 255, 255, 1);
	max-width: 71%;
	font-family: Inter;
	text-align: left;
	font-size: 70px;
}

.h2 {
	color: rgba(168.93750607967377, 168.93750607967377, 168.93750607967377, 1);
	max-width: 71%;
	font-family: Inter;
	text-align: left;
	font-size: 2em;
}

.h3 {
	color: rgba(168.93750607967377, 168.93750607967377, 168.93750607967377, 1);
	max-width: 70%;
	font-family: Inter;
	text-align: left;
	font-size: 20px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.video-container {
	width: 71.5%;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 7vh;
	box-shadow: black;
}

video {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}


.video-controls {
	right: 0;
	left: 0;
	padding: 10px 10% 20px 10%;
	position: absolute;
	bottom: 0;
	transition: all 0.2s ease;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
}

.video-controls.hide {
	opacity: 0;
	pointer-events: none;
}

.video-controls.shrink {
	right: 30%;
}

.video-progress {
	position: relative;
	height: 8.4px;
	margin-bottom: 10px;
}

.video-progress.hide {
	opacity: 0;
	display: none;
	pointer-events: none;
}

.extract-progress {
	position: relative;
	height: 8.4px;
	margin-bottom: 10px;
}


.extract-progress.hide {
	opacity: 0;
	display: none;
	pointer-events: none;
}

progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 20px;
	width: 100%;
	height: 8.4px;
	pointer-events: none;
	position: absolute;
	top: 0;
}


#extract-bar-final::-webkit-progress-bar {
	background-color: var(--seeker-bg);
	border-radius: 20px;
}

#extract-bar-initial::-webkit-progress-bar {
	background-color: var(--seeker-value);
	border-radius: 20px;
}


progress::-webkit-progress-bar {
	background-color: var(--seeker-bg);
	border-radius: 20px;
}

#extract-bar-initial::-webkit-progress-value {
	background: var(--seeker-bg);
	border-radius: 20px;
}

#extract-bar-final::-webkit-progress-value {
	background: var(--seeker-value);
	border-radius: 20px;
}

progress::-webkit-progress-value {
	background: var(--seeker-value);
	border-radius: 20px;
}

#extract-bar-initial::-moz-progress-bar {
	border: 1px solid var(--seeker-pointer);
	background: var(--seeker-bg);
}

#extract-bar-final::-moz-progress-bar {
	border: 1px solid var(--seeker-pointer);
	background: var(--seeker-bg);
}

progress::-moz-progress-bar {
	border: 1px solid var(--seeker-pointer);
	background: var(--seeker-bg);
}

.seek {
	position: absolute;
	top: 0;
	width: 100%;
	cursor: pointer;
	margin: 0;
}

.seek:hover+.seek-tooltip {
	display: block;
}

.seek-tooltip {
	display: none;
	position: absolute;
	top: -50px;
	margin-left: -20px;
	font-size: 12px;
	padding: 3px;
	content: attr(data-title);
	font-weight: bold;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}

.bottom-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-controls {
	display: flex;
	align-items: center;
	color: #fff;
}

.mid-controls {
	display: flex;
	width: 34%;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}

.mid-controls.hide {
	display: none;
	opacity: 0;
	pointer-events: none;
}

.right-controls {
	display: flex;
	align-items: center;
	color: #fff;
}

/* .volume-controls {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.volume-controls input {
	width: 100px;
	opacity: 1;
	transition: all 0.4s ease;
}

.volume-controls:hover input,
.volume-controls input:focus {
	width: 100px;
	opacity: 1;
} */

button {
	cursor: pointer;
	position: relative;
	margin-right: 7px;
	font-size: 12px;
	padding: 3px;
	border: none;
	outline: none;
	background-color: transparent;
}

button * {
	pointer-events: none;
}

button::before {
	content: attr(data-title);
	position: absolute;
	display: none;
	right: 0;
	top: -50px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-weight: bold;
	padding: 4px 6px;
	word-break: keep-all;
	white-space: pre;
}

button:hover::before {
	display: inline-block;
}

.fullscreen-button {
	margin-right: 0;
}

/* .pip-button svg {
	width: 26px;
	height: 26px;
} */

.playback-animation {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
	width: 40px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 8.4px;
	background: transparent;
	cursor: pointer;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	animate: 0.2s;
	border-radius: 1.3px;
	-webkit-appearance: none;
	transition: all 0.4s ease;
}

input[type=range]::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	border-radius: 16px;
	background: var(--seeker-pointer);
	cursor: pointer;
	-webkit-appearance: none;
	margin-left: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: transparent;
}

/*  */
input[type=range].extractTime {
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 8.4px;
	background: white;
	cursor: pointer;
}

input[type=range].extractTime:focus {
	outline: none;
}

input[type=range].extractTime::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	animate: 0.2s;
	border-radius: 1.3px;
	-webkit-appearance: none;
	transition: all 0.4s ease;
}

input[type=range].extractTime::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	border-radius: 16px;
	background: var(--seeker-pointer);
	cursor: pointer;
	-webkit-appearance: none;
	margin-left: -1px;
}

input[type=range].extractTime:focus::-webkit-slider-runnable-track {
	background: transparent;
}

/*  */
input[type=range].volume {
	height: 5px;
	background-color: #fff;
}

input[type=range].volume::-webkit-slider-runnable-track {
	background-color: transparent;
}

input[type=range].volume::-webkit-slider-thumb {
	margin-left: 0;
	height: 14px;
	width: 14px;
	background: #fff;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	border: 1px solid transparent;
	background: transparent;
	border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
	height: 14px;
	width: 14px;
	border-radius: 50px;
	border: 1px solid var(--seeker-pointer);
	background: var(--seeker-bg);
	cursor: pointer;
	margin-top: 5px;
}

input[type=range]:focus::-moz-range-track {
	outline: none;
}

input[type=range].volume::-moz-range-thumb {
	border: 1px solid #fff;
	background: #fff;
}

.hidden {
	display: none;
}

svg {
	width: 20px;
	height: 20px;
	fill: #ffffff00;
	stroke: #fff;
	cursor: pointer;
}

.time {
	color: #ffffff99
}

.sideTab {
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 20px;
	position: absolute;
	width: 30%;
	background-color: #00000090;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: scroll;
	transition: all 0.2s ease;
}

.sideTab {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

.sideTab::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

.sideTab.hide {
	opacity: 0;
	pointer-events: none;
}


.chapterElement {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
	justify-content: space-around;
}

.chapterVideo {
	width: 85%;
	margin: auto;
}

.chapterImage {
	width: 100%;
	border-radius: 0.8em;
	filter: grayscale(1);
}

.chapterImage:hover {
	filter: none;
	transition: all 0.2s ease;
	cursor: pointer;
}

.chapterText {
	width: 76%;
	height: 20%;
	display: flex;
	flex-direction: row;
	top: -25%;
	position: relative;
	align-content: space-between;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0));
}


.chapterTimeInterval {
	width: 70%;
	font-size: 1.5em;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.downloadImage {
	height: 2em;
	cursor: pointer;
	left: 0;
}

#downloadSmall {
	width: 2em;
	height: 2em;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 0.4em;
}

#downloadSmall:hover {
	background-color: #01a552;
	transition: all 0.2s ease;
}

.download-icons {
	width: 58%;
	height: 66%;
}

.canvas {
	background-color: #ffffff00;
}